﻿@model IEnumerable<AQModel.SP_News_Search_Result>
@{
    var data = Model.ToList();
    ViewBag.Title = Resources.Aqwas.ProjectTitle + " - " + data.First(e => e.category == ViewBag.Catid).CATNAME;
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}
<!-- Category Content -->
<div class="col-md-12 blog-single">
    <span class="bs-comments">
        <a href="/Home/Index">
            <i class="fa fa-home"></i> @Resources.Aqwas.Home
        </a>
        @*<em></em>
            <a href="#">
                <i class="fa fa-external-link-square"></i> Subscribe
            </a>*@
    </span>


    <!-- NewsPaper -->
    <div class="comments-wrap">
        <div id="tabwrap">
            @{
                if (Model != null)
                {
                    if (data.Count() > 0)
                    {
                        <ul id="tabs">
                            @{
                                for (int i = 0; i < data.Count(); i++)
                                {
                                    if ((data[i].NewsPaperId.ToString() != ((i == 0) ? (data[0].NewsPaperId.ToString()) : (data[i - 1].NewsPaperId.ToString()))) || i == 0)
                                    {
                                        var _NewsPaperName = data[i].NewsPaperName.ToString();
                                        <li class=@((i==0)?("current"):(""))><a href="#comments_@i">@_NewsPaperName</a></li>
                                    }
                                }
                            }
                        </ul>
                        <div id="content">
                            @{
                                for (int i = 0; i < data.Count(); i++)
                                {
                                    if ((data[i].NewsPaperId.ToString() != ((i == 0) ? (data[0].NewsPaperId.ToString()) : (data[i - 1].NewsPaperId.ToString()))) || i == 0)
                                    {
                                        var _NewsPaperid = ((data[i] != null && data[i].NewsPaperId.ToString() != "") ? (int.Parse(data[i].NewsPaperId.ToString())) : (0));
                                        var _NewsPaperName = data[i].NewsPaperName.ToString();
                                        var News = data.Where(e => e.NewsPaperId == _NewsPaperid);

                                        <div @((i == 0) ? ("class=current") : ("")) id="comments_@i">
                                            <ul class="comments">
                                                @{
                                                    foreach (var item in News.Take(5))
                                                    {
                                                        <li>
                                                            <div class="c-img">
                                                                <h4><i class="fa fa-external-link" aria-hidden="true"></i></h4>
                                                            </div>
                                                            <div class="comment-inner">
                                                                <h6><span>@((item.title != null && item.title.ToString() != "") ? (item.title.ToString()) : (""))</span> </h6>
                                                                <div class="space10"></div>
                                                                <span class="c-date">@Resources.Aqwas.Postedon   @((item.pubDate != null && item.pubDate.Value != null && item.pubDate.Value.ToString() != "") ? (item.pubDate.Value.ToString()) : (""))</span>
                                                                <div class="space20"></div>
                                                                <p>
                                                                    @Html.Raw(((item.description != null && item.description.ToString() != "") ? (item.description.ToString()) : ("")))
                                                                </p>
                                                                <div class="clearfix space10"></div>
                                                                <a class="post-more" style="float:right;" href="/Home/NewDetails?Id=@item.NewsId">... @Resources.Aqwas.More </a>
                                                            </div>
                                                        </li>
                                                    }
                                                }
                                            </ul>
                                            <div class="space10"></div>
                                            <a href="/Home/providerNews?Id=@_NewsPaperid" class="btn1">@Resources.Aqwas.ViewAll</a>
                                            <div class="space10"></div>
                                        </div>
                                    }
                                }

                            }
                        </div>
                    }
                }
            }

        </div>
    </div>
</div>




