﻿@model AQModel.SP_News_GetMostRecent_Result
@{
    ViewBag.Title = Resources.Aqwas.ProjectTitle + "-" + Resources.Aqwas.DefaultTitle;
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}
<div class="col-md-12 blog-single">
    @{
        if (Model != null)
        {
            var DateYearStr = Model.pubDate.Value.Year;
            var DateMonthStr = ((Model.pubDate != null && Model.pubDate.Value != null && Model.pubDate.Value.Month.ToString() != "") ? (int.Parse(Model.pubDate.Value.Month.ToString())) : (0));
            var DateDayStr = Model.pubDate.Value.Day;
            <div class="bs-meta">
                <span class="bs-cat">@((Model.CatogeryName != null && Model.CatogeryName.ToString() != "") ? (Model.CatogeryName.ToString()) : (""))</span>
            </div>

            @*Main News*@
            <h4>@((Model.title != null && Model.title.ToString() != "") ? (Model.title.ToString()) : (""))</h4>
            <div style="margin-right:15%;margin-left:15%;border-radius:8px;">
                <img src="~/images/bg2.jpg" class="img-responsive space30" alt="" />
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-3 bs-aside">
                    <div class="space10"></div>
                    <div class="rp-date">
                        <span>@System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(DateMonthStr)</span>
                        <div class="space20"></div>
                        @DateDayStr
                        <div class="space20"></div>
                        <span><em>/</em> @DateYearStr</span>
                    </div>
                    <div class="space30"></div>
                    <div class="sep1"></div>
                    <div class="space20"></div>
                </div>

                <div class="col-md-9">
                    <p>@Html.Raw((Model.description != null && Model.description.ToString() != "") ? (Model.description.ToString()) : (""))</p>

                </div>
            </div>
            <div class="clearfix space20"></div>
        }
    }
</div>




