﻿@model AQModel.CustomeModel.UserViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width" />
    <title> @Resources.Aqwas.ProjectTitle - @Resources.Aqwas.Login</title>
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicons -->
    <link rel="shortcut icon" href="~/favicon.ico" />

    <!-- CSS -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Scripts/vendor/slick/slick.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />

    <!-- JS - MEDIAQUERIES -->
    <script src="~/Scripts/css3-mediaqueries.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    @*@Scripts.Render("~/bundles/jqueryval")*@
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

</head>
<body>
    <input type="hidden" id="hd_lang" value="@Resources.Aqwas.Lang" />
    <!-- Topbar -->
    <div class="top-bar container">
        <div class="row">
            <div class="col-md-6">
                <ul class="tb-left">
                    <li class="tbl-date">@Resources.Aqwas.Todayis <span>@DateTime.Now.ToLongDateString()</span></li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="tb-right">
                    <li class="tbr-login">
                        <a href="javascript:void(0);"><img src="https://aqwas.sa//static/media/aqwasLogo.e7919109.svg" alt="aqwas logo"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container wrapper">
        <!-- Header -->
        <header>
            <div class="col-md-12">
                <div class="row">
                    <!-- Navigation -->
                    <div class="col-md-12">
                        <div class="space10"></div>
                        <marquee>Welcome To Aqwas News , You Can Login To View Newest News , Enjoy :)</marquee>
                    </div>
                </div>
            </div>
        </header>
        <div class="clearfix space10"></div>
        <!-- Main Content -->
        <div class="main-content container">
            <div class="col-md-12 blog-single">
                <div class="bs-meta">
                    <span class="bs-cat">@Resources.Aqwas.Login</span>
                </div>
                <div class="space30"></div>

                <div class="logreg-content">
                    <div class="row">
                        <!-- Login -->
                        <div class="col-md-12">
                            <div class="login-content">
                                <h6>@Resources.Aqwas.Login</h6>
                                @using (Ajax.BeginForm("loginPOST", "Home", new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                    OnBegin = "Submitlogin();",
                                    OnSuccess = "Successlogin",
                                    OnFailure = "Failurelogin"
                                }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true)

                                    <label>@Resources.Aqwas.username <span>*</span></label>
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control form-control-sm", @id = "txt_email", @maxlength = "100" })
                                    @Html.ValidationMessageFor(model => model.UserName, null, new { @class = "text-danger" })

                                    <label>@Resources.Aqwas.Password <span>*</span></label>
                                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", @id = "txt_password", @maxlength = "20" })
                                    @Html.ValidationMessageFor(model => model.Password, null, new { @class = "text-danger" })

                                    <button type="submit">@Resources.Aqwas.Login</button>
                                    @*<input type="checkbox">@Resources.Aqwas.Remeberme*@
                                    @*<a href="#">Forgot Password?</a>*@
                                    <div class="space20"></div>
                                }
                            </div>
                        </div>

                        <!-- Register -->
                        @*<div class="col-md-6">
                                <div class="register-content">
                                    <h6>Register</h6>
                                    <form>
                                        <label>Email Address or Username <span>*</span></label>
                                        <input type="email">
                                        <label>Password <span>*</span></label>
                                        <input type="password">
                                        <button type="submit">Register</button>
                                        <input type="checkbox">I have read the terms & conditions
                                    </form>
                                </div>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer - Fixed -->
        <div class="footer-fixed">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                    <p class="copy1">@Resources.Aqwas.Copyright &copy; @Resources.Aqwas.ProjectTitle </p>
                </div>
            </div>
        </div>

    </div>
    <div class="clearfix space80"></div>
    <!-- Javascript -->

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/vendor/slick/slick.js"></script>
    <script src="~/Scripts/jquery.nicescroll.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/Login.js"></script>

</body>
</html>
