﻿@model AQModel.SP_News_Search_Result
@{
    var _CatName = ((Model != null && Model.CATNAME != null && Model.CATNAME.ToString() != "") ? (Model.CATNAME.ToString()) : (""));
    var _NewsPaperName = ((Model != null && Model.NewsPaperName != null && Model.NewsPaperName.ToString() != "") ? (Model.NewsPaperName.ToString()) : (""));
    ViewBag.Title = Resources.Aqwas.ProjectTitle + " - " + _CatName + " - " + _NewsPaperName;
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

<div class="col-md-12 blog-single">
    <div class="bs-meta">
        <span class="bs-cat">@_CatName - @_NewsPaperName &nbsp;&nbsp;&nbsp;<a href="/Home/providerNews?Id=@Model.NewsPaperId" class="rp-more">@Resources.Aqwas.GoTonewslist  <em>&#8594;</em></a></span>

    </div>
    <div class="contributor-info">
        <img src="~/images/contact.png" alt="" />
        <h6>@((Model.title != null && Model.title.ToString() != "") ? (Model.title.ToString()) : (""))</h6>
        <div class="sep1"></div>
        <div class="space30"></div>
        <p>@Html.Raw((Model.description != null && Model.description.ToString() != "") ? (Model.description.ToString()) : (""))</p>
        <div class="space30"></div>
        <div class="sep1"></div>
        <div class="space20"></div>
        <em class="share-count">@Resources.Aqwas.Postedon @((Model.pubDate != null && Model.pubDate.Value != null && Model.pubDate.Value.ToString() != "") ? (Model.pubDate.Value.ToString()) : (""))</em>
        <div class="space20"></div>
        <a  target="_blank" href="@((Model.URL != null && Model.URL.ToString() != "") ? (Model.URL.ToString()) : (""))" class="rp-more">@Resources.Aqwas.GoToSource  <em>&#8594;</em></a>

    </div>
    <div class="space20"></div>
</div>

