﻿
@{
    ViewBag.Title = Resources.Aqwas.ProjectTitle + " - " + Resources.Aqwas.SearchBy;
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}
<link href="~/Content/jquery-ui.css" rel="stylesheet" />

<input type="hidden" value="@Resources.Aqwas.Select" id="hd_select" />
<input type="hidden" value="@Resources.Aqwas.NoDataFound" id="hd_nodata" />
<div class="col-md-12 blog-single">
    <div class="bs-meta">
        <span class="bs-cat">@Resources.Aqwas.SearchBy</span>
    </div>

    <div class="space30"></div>
    <div class="row">
        <div class="col-lg-3">
            <label for="ddlCatogry">@Resources.Aqwas.Catogery</label>
        </div>
        <div class="col-lg-9">
            @Html.DropDownList("ddlCatogry", new SelectList(ViewBag.Catogery, "Value", "Text"), Resources.Aqwas.Select, new { @class = "form-control" })
        </div>
    </div>
    <div class="space20"></div>
    <div class="row">
        <div class="col-lg-3">
            <label for="ddlNewspapername">@Resources.Aqwas.Newspapername</label>
        </div>
        <div class="col-lg-9">
            @Html.DropDownList("ddlNewspapername", new SelectList(ViewBag.Newspaper, "Value", "Text"), Resources.Aqwas.Select, new { @class = "form-control", @id = "ddlNewspapername" })
        </div>
    </div>
    <div class="space20"></div>
    <div class="row">
        <div class="col-lg-3">
            <label for="txtNewsdate">@Resources.Aqwas.Date</label>
        </div>
        <div class="col-lg-9">
            @Html.TextBox("txtNewsdate", null, new { @class = "form-control date-picker", @id = "txtNewsdate" })
        </div>
    </div>
    <div class="space10"></div>
    <div class="row text-right">
        <button type="button" id="btnsearch" class="btn btn-info">@Resources.Aqwas.SearchBy</button>
        <button type="button" id="btnclear" class="btn btn-success">@Resources.Aqwas.Clear</button>
    </div>
    <div style="margin-bottom:150px;"></div>
</div>
@section Scripts
{
    <script src="~/Scripts/jquery-ui.js"></script>
    <script type="text/javascript" src="~/Scripts/NewsSearch.js"></script>
}

