﻿@model IEnumerable<AQModel.SP_News_Search_Result>
@{
    ViewBag.Title = Resources.Aqwas.searchResult;
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}
<div class="col-md-12 blog-single">
    <div class="bs-meta">
        <span class="bs-cat">@Resources.Aqwas.searchResult</span>
    </div>

    <div class="space30"></div>
    <div class="search-results row">
        <div class="col-md-12">
            <h3>
                @*@Resources.Aqwas.searchResult*@
                <a href="/Home/NewsSearch">
                    <i class="fa fa-search"></i> @Resources.Aqwas.SearchBy
                </a>
            </h3>
        </div>
        <div class="clearfix space10"></div>
        @{
            if (Model != null)
            {
                if (Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {
                        <div class="col-md-12">
                            <div class="fn2-inner fn2-inner-sub">
                                <div class="fn2-info">
                                    <div class="fn2-meta">@(((item.CATNAME != null && item.CATNAME.ToString() != "") ? (item.CATNAME.ToString()) : ("")) + " - " + ((item.NewsPaperName != null && item.NewsPaperName.ToString() != "") ? (item.NewsPaperName.ToString()) : ("")))</div>
                                    <h4><a href="/Home/NewDetails?Id=@item.NewsId">@((item.title != null && item.title.ToString() != "") ? (item.title.ToString()) : (""))</a></h4>
                                    <em>@Resources.Aqwas.Postedon @((item.pubDate != null && item.pubDate.Value != null && item.pubDate.Value.ToString() != "") ? (item.pubDate.Value.ToString()) : (""))</em>
                                    <p>@Html.Raw((item.description != null && item.description.ToString() != "") ? (item.description.ToString()) : (""))</p>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="alert alert-warning text-center" role="alert">
                        @Resources.Aqwas.NoDataFound
                    </div>
                }
            }
            else
            {
                <div class="alert alert-warning" role="alert">
                    @Resources.Aqwas.NoDataFound
                </div>
            }
        }
    </div>

</div>