﻿@model IEnumerable<AQModel.SP_News_Search_Result>

@{
    var data = Model.ToList();
    ViewBag.Title = Resources.Aqwas.ProjectTitle + " - " + data.First(e => e.NewsPaperId == ViewBag.Npid).NewsPaperName;
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

<div class="col-md-12 blog-single">
    <span class="bs-comments">
        @*<a href="#">
                <i class="fa fa-external-link-square"></i> @Resources.Aqwas.UnSubscribe
            </a>
            <em></em>*@
        <a href="/Home/CatogryNews?Id=@data.First(e => e.NewsPaperId == ViewBag.Npid).category">
            <i class="fa fa-home"></i> @Resources.Aqwas.GoToProviders
        </a>
    </span>
    <div class="related-posts related-posts-cat">
        <div class="cat-blocks">
            <h4><span>@(data.First(e => e.NewsPaperId == ViewBag.Npid).CATNAME + " - " + data.First(e => e.NewsPaperId == ViewBag.Npid).NewsPaperName)</span></h4>
        </div>
        <ul>
            @{
                if (Model != null)
                {
                    if (data.Count() > 0)
                    {
                        var count = 0;
                        foreach (var item in data)
                        {
                            count += 1;
                            var DateYearStr = item.pubDate.Value.Year;
                            var DateMonthStr = ((item.pubDate != null && item.pubDate.Value != null && item.pubDate.Value.Month.ToString() != "") ? (int.Parse(item.pubDate.Value.Month.ToString())) : (0));
                            var DateDayStr = item.pubDate.Value.Day;

                            <li style="border-top:@((count == 1) ? ("none") : ("1px solid #ddd"))">
                            <div class="col-md-3">
                                <div class="rp-date">
                                    <span>@System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(DateMonthStr)</span>
                                    <div class="space20"></div>
                                    @DateDayStr
                                    <div class="space20"></div>
                                    <span><em>/</em> @DateYearStr</span>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="">
                                    @*<div class="fn2-meta">NewPaprer Name (Okaz)</div>*@
                                    <h4><a href="/Home/NewDetails?Id=@item.NewsId">@((item.title != null && item.title.ToString() != "") ? (item.title.ToString()) : (""))</a></h4>
                                    <div class="space10"></div>
                                    <em>@Resources.Aqwas.Postedon @((item.pubDate != null && item.pubDate.Value != null && item.pubDate.Value.ToString() != "") ? (item.pubDate.Value.ToString()) : (""))</em>
                                    <div class="space10"></div>
                                    <p>@Html.Raw((item.description != null && item.description.ToString() != "") ? (item.description.ToString()) : (""))</p>
                                    <a href="/Home/NewDetails?Id=@item.NewsId" class="rp-more">@Resources.Aqwas.More  <em>&#8594;</em></a>
                                </div>
                            </div>
                            </li>
                        }
                    }
                }
            }
        </ul>
    </div>

    <!-- Page nav -->
    <div class="page-nav" style="display:none;">
        <span>Page</span>
        <ul>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">...</a></li>
            <li><a href="#">11</a></li>
            <li><a href="#">12</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
        </ul>
    </div>
</div>


