﻿
@{
    ViewBag.Title = "Index";
}
<br />
<br />
<input type="hidden" value="@Resources.Aqwas.Select" id="hd_select" />
<input type="hidden" value="@Resources.Aqwas.NoDataFound" id="hd_nodata" />
<input type="hidden" value="@Resources.Aqwas.Linkddl" id="hd_valselect" />
<div class="jumbotron">
    <h1 class="display-3">@Resources.Aqwas.DefaultTitle !</h1>
    <p class="lead">
        @Resources.Aqwas.DefaultPara .
        <button type="button" class="btn btn-success changelang">@Resources.Aqwas.language</button>
    </p>
    <hr class="my-4">
    <p class="lead">
        <button type="button" class="btn btn-primary">@Resources.Aqwas.Importbtn</button>
        <a class="btn btn-info" href="~/Home/Index" role="button">@Resources.Aqwas.GoToHome</a>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <label for="ddlCatogry">@Resources.Aqwas.Catogery</label>
                </div>
                <div class="col-lg-9">
                    @Html.DropDownList("ddlCatogry", new SelectList(ViewBag.Catogery, "Value", "Text"), Resources.Aqwas.Select, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <label for="ddlNewspapername">@Resources.Aqwas.Newspapername</label>
                </div>
                <div class="col-lg-9">
                    @Html.DropDownList("ddlNewspapername", new List<SelectListItem> { new SelectListItem { Text = Resources.Aqwas.NoDataFound, Value = "", Selected = true } }, new { @class = "form-control form-control-sm", @id = "ddlNewspapername" })
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <label for="ddlNewspapername">@Resources.Aqwas.RssLinks</label>
                </div>
                <div class="col-lg-9">
                    @Html.DropDownList("ddllinks", new List<SelectListItem> { new SelectListItem { Text = Resources.Aqwas.NoDataFound, Value = "", Selected = true } }, new { @class = "form-control form-control-sm", @id = "ddllinks" })
                </div>
            </div>
            <hr />
            <div class="row">
                <button type="button" id="btnsave" class="btn btn-info">@Resources.Aqwas.SaveInDB</button>
            </div>
        </div>
    </p>
</div>
@section Scripts
{
    <script type="text/javascript" src="~/Scripts/Default.js"></script>
}

