﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - @Resources.Aqwas.ProjectTitle</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <!--BEGIN LOADER -->
    <div class="blockUI quick-nav-overlay" style="display: none;" id="loader-overlay">
        <div class="blockUI blockOverlay" style="z-index: 1100; border: medium none; margin: 0px; padding: 0px; width: 100%; height: 100%; top: 0px; left: 0px; background-color: rgba(0,0,0,0.9); opacity: 0.20; cursor: wait; position: fixed;"></div>
        <div class="blockUI blockMsg blockPage" style="z-index: 1101; display: block; position: fixed; padding: 0px; margin: 0px; top: 45%; left: 45%; text-align: center; color: rgb(0,0,0); border: 0px none; cursor: wait;">
            <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>
    </div>
    <!-- END LOADER -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(Resources.Aqwas.AqwasManagment, "Index", "Default", new { area = "" }, new { @class = "navbar-brand " })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(Resources.Aqwas.Home, "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @Resources.Aqwas.ProjectTitle</p>
        </footer>
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
