﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicons -->
    <link rel="shortcut icon" href="~/favicon.ico" />

    <!-- CSS -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Scripts/vendor/slick/slick.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />

    <!-- JS - MEDIAQUERIES -->
    <script src="~/Scripts/css3-mediaqueries.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    @RenderSection("head", required: false)
</head>
<body>
    <!--BEGIN LOADER -->
    <div class="blockUI quick-nav-overlay" style="display: none;" id="loader-overlay">
        <div class="blockUI blockOverlay" style="z-index: 1100; border: medium none; margin: 0px; padding: 0px; width: 100%; height: 100%; top: 0px; left: 0px; background-color: rgba(0,0,0,0.9); opacity: 0.20; cursor: wait; position: fixed;"></div>
        <div class="blockUI blockMsg blockPage" style="z-index: 1101; display: block; position: fixed; padding: 0px; margin: 0px; top: 45%; left: 45%; text-align: center; color: rgb(0,0,0); border: 0px none; cursor: wait;">
            <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>
    </div>
    <!-- END LOADER -->
    <input type="hidden" id="hd_lang" value="@Resources.Aqwas.Lang" />
    <!-- Topbar -->
    <div class="top-bar container">
        <div class="row">
            <div class="col-md-6">
                <ul class="tb-left">
                    <li class="tbl-date">@Resources.Aqwas.Todayis <span>@DateTime.Now.ToLongDateString()</span></li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="tb-right">
                    <li class="tbr-social">
                        <span>
                            @{
                                // If User Login
                                if (ViewBag.UserID != null && ViewBag.UserID.ToString() != "")
                                {
                                    <a href="javascript:void(0);">@Resources.Aqwas.Welcome  @ViewBag.UEmail</a>
                                    <a href="/Home/logout">
                                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                                        @Resources.Aqwas.Logout
                                    </a>
                                }
                                else
                                {
                                    // If User Not Login
                                    <a href="/Home/Login">@Resources.Aqwas.Login</a>
                                }
                            }
                        </span>
                    </li>
                    <li class="tbr-login">
                        <a href="javascript:void(0);" class="changelang">@Resources.Aqwas.language</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="container wrapper">
        <!-- Header -->
        <header>
            <div class="col-md-12">
                <div class="row">
                    <!-- Navigation -->
                    <div class="col-md-12">
                        <div class="menu-trigger"><i class="fa fa-align-justify"></i> Menu</div>
                        <nav>
                            <ul>
                                @{
                                    var _catobj = DAL.AqwasDAL.BindCatogery().ToList();// Get All Catogery
                                    if (_catobj != null && _catobj.Count() > 0)
                                    {
                                        foreach (var item in _catobj)
                                        {
                                            <li><a href="/Home/CatogryNews?Id=@item.id">@item.Name</a></li>
                                        }
                                    }
                                }
                            </ul>
                        </nav>

                        <!-- Search -->
                        <div class="search">
                            <form>
                                <input type="search" placeholder="Type to search and hit enter" />
                            </form>
                        </div>
                        <span class="search-trigger"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
        </header>

        <div class="header">
            <div class="col-md-12">
                <div class="col-md-12">
                    <!-- Logo -->
                    <div class="col-md-4 logo">
                        <div class="clearfix space20"></div>
                        <a href="javascript:void(0);"><img src="https://aqwas.sa//static/media/aqwasLogo.e7919109.svg" alt="aqwas logo"></a>
                        <div class="clearfix space20"></div>
                    </div>
                    <!-- News Ticker -->
                    <div class="col-md-8">
                        @*<div class="news-ticker">
                                <div id="news-ticker">
                                    <div class="item">
                                        <span>Entertainment</span>
                                        <h4><a href="single_post.html">Movie : Mother - Real Beauty Comes from the Inside of a Woman</a></h4>
                                        <p>Posted on : November 4, 2017</p>
                                    </div>
                                    <div class="item">
                                        <span>Sport</span>
                                        <h4><a href="single_post.html">Temper Cum Soluta Nobis Eleifend Option Congue Nihil</a></h4>
                                        <p>Posted on : November 2, 2017</p>
                                    </div>
                                    <div class="item">
                                        <span>Business</span>
                                        <h4><a href="single_post.html">Duis autem vel irure dolor in hendrerit in vulputate</a></h4>
                                        <p>Posted on : November 1, 2017</p>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
        <!--End Header -->
        <!-- Main Content -->
        <div class="main-content container">
            @RenderBody()
        </div>

        <!-- Footer - Fixed -->
        <div class="footer-fixed">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                    <p class="copy1">@Resources.Aqwas.Copyright &copy; @Resources.Aqwas.ProjectTitle </p>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix space20"></div>
    <!-- Javascript -->
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/vendor/slick/slick.js"></script>
    <script src="~/Scripts/jquery.nicescroll.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/General.js"></script>
</body>
</html>
